@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');

  @font-face {
    font-family: 'BPG Arial';
    src: url('./assets/fonts/bpg_arial.ttf');
  }

  @font-face {
    font-family: 'BPG Banner Caps';
    src: url('./assets/fonts/bpg_banner_caps.ttf');
  }

  a, button {
    @apply duration-500
  }

  a:hover, button:hover {
    @apply opacity-80
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}