/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');

@font-face {
  font-family: 'BPG Arial';
  src: url('./assets/fonts/bpg_arial.ttf');
}

@font-face {
  font-family: 'BPG Banner Caps';
  src: url('./assets/fonts/bpg_banner_caps.ttf');
}

/* Default Styling */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'BPG Arial';
  color: #232323;
  background-color: #EAEAEA;
}