.custom-radio:checked,
.custom-radio:not(:checked) {
    position: absolute;
    left: -9999px;
}

.custom-radio:checked + label,
.custom-radio:not(:checked) + label
{
    display: inline-block;
    position: relative;
    padding-left: 40px;
    font-size: 18px;
    color: #232323;
    line-height: 23px;
    cursor: pointer;
}

.custom-radio:checked + label:before,
.custom-radio:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    background:ს transparent;
    border: 1px solid #232323;
    border-radius: 100%;
}

.custom-radio:checked + label:after,
.custom-radio:not(:checked) + label:after {
    content: '';
    position: absolute;
    top: .25rem;
    left: .25rem;
    width: 14px;
    height: 14px;
    background: #232323;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.custom-radio:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.custom-radio:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}